<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estamos en mantenimiento | Tickets Now</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/workinprogress.css">
</head>

<body>
    <img src="img/interfaces/logo.png" alt="Tickets Now">
    <h1>¡Estamos mejorando tu experiencia!</h1>
    <p>Volveremos en breve. Gracias por tu paciencia. 🎶</p>
    <div class="info">Si necesitas asistencia urgente, puedes contactarnos en support@ticketsnow.com</div>
</body>

</html>