:root {
    --blue: rgba(80, 118, 135, 1);
    --light: rgba(248, 245, 231, 1);
    --dark: rgba(51, 51, 51, 1);
}

body {
    overflow-x: hidden;
    background: var(--light);
    color: var(--dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}

/* NAVBAR */
/* CONTAINER */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 6em;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    background-color: var(--blue);
}

/* NAVBAR */
/* LOGO */
.logo img {
    width: 8em;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.logo img:hover {
    transform: scale(1.05);
}

/* NAVBAR */
/* SEARCH BAR*/
.search-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: white;
    border-radius: 2em;
    height: 3em;
    width: 40%;
    overflow: hidden;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}
.search-container:hover {
    box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}
.search-bar {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0.5em;
    background: transparent; 
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5em;
}
.search-button img {
    width: 2.5em;
    height: 2.5em;
}

/* NAVBAR */
/* ACCOUNT MENU */
.account-menu {
    position: relative;
}
.account-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    border: none;
    padding: 0 1em;
    height: 3.5em;
    border-radius: 2em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);
    cursor: pointer;
    gap: 0.8em;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}
.account-button:hover {
    box-shadow: 0 0.8em 1.5em rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}

.account-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3em;
    margin-right: 1vw;
    min-height: 0;
}
.account-icon hr {
    margin: 0;
    width: 1.6em;
    height: 0.2em;
    background-color: var(--blue);
    border: none;
    border-radius: 1em;
    transition: transform 0.3s ease-in-out;
}

.account-picture {
    width: 2.2em; 
    height: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    overflow: hidden;
}
.account-picture img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.account-dropdown-menu {
    position: absolute;
    top: 110%;
    right: 0;
    background: white;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 1.5em;
    display: none;
    width: 12em;
    min-width: 150px;
    z-index: 100;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.account-dropdown-menu ul {
    list-style: none;
    padding: 1em;
    margin: 0;
}
.account-dropdown-menu li {
    padding: 0.75em;
    font-size: 1rem;
}
.account-dropdown-menu li a {
    text-decoration: none;
    color: var(--dark);
    display: block;
    transition: color 0.2s;
}
.account-dropdown-menu li a:hover {
    color: var(--blue);
}
.account-menu:focus-within .account-dropdown-menu {
    display: block;
    opacity: 1;
}

/* FIXED ELEMENT */
/* FLOATING CONTAINER */
.floating-search-container {
    position: fixed;
    top: -5em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1em;
    align-items: center;
    background: white;
    border-radius: 2em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    height: 3em;
    padding: 0 1em;
    font-size: 1em;
    z-index: 999;
    transition: top 0.4s ease-in-out;
    width: 40%;
}

.floating-search-container.visible {
    top: 1em;
}

.floating-search-container a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.floating-search-container a:hover {
    color: var(--blue);
}



.floating-search-bar {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 0.5em;
    background: transparent;
}

.floating-search-button {
    background: var(--blue);
    border: none;
    border-radius: 50%;
    padding: 0.5em;
    cursor: pointer;
    margin-left: 0.5em;
}

.floating-search-button img {
    width: 1.2em;
    height: 1.2em;
    filter: brightness(0) invert(1);
}



.main-concert-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 8vh;
    width: 70vw;
    height: 60vh;
    border-radius: 2vh;
    overflow: hidden;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.2);
    background-image: url('img/banner_michael_jackson.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten; 
    margin-left: auto;
    margin-right: auto; 
    padding-left: 3vw;
    padding-bottom: 3vw;
}
.main-concert-banner h1 {
    color: white;
    font-size: 6vh;
    text-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.5);
}
.main-concert-banner button {
    background: white; 
    color: var(--blue);
    font-size: 3vh;
    font-weight: bold;
    letter-spacing: 0.1vh;
    padding: 3vh 1vw;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0.3vh 0.3vh 0.5vh rgba(0, 0, 0, 0.2);
}
.main-concert-banner button:hover {
    background-color: var(--blue);
    color: white;
    transform: scale(1.05); 
}

.section-title {
    padding-top: 8vh;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: fit-content;
}
.section-title h2 {
    display: inline-block;
    font-size: 3vh;
    font-weight: semi-bold;
    color: var(--blue);
    margin-bottom: 0.5vh;
    
}
.section-title hr {
    width: 100%;
    height: 0.3vh;
    background-color: var(--blue); 
    border: none;
}

.concert-banner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    height: 100%;
    border-radius: 2vh;
    transition: 0.3s ease-in-out;
}
.concert-banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2vh;
    border-bottom: 0.5vh solid rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}
.concert-banner:hover {
    background-color: var(--blue);
    
}
.concert-banner:hover p, 
.concert-banner:hover h3 {
    font-weight: semi-bold;
    color: white;
    transform-origin: left center;
}
.concert-banner:hover h3 {
    transform: scale(1.1);
}
.concert-info {
    text-align: left;
    font-size: 1.8vh;
}
.concert-info p, 
.concert-info h3 {
    margin-left: 1vh;
    margin-top: 1.2vh;
    margin-bottom: 1vh;
    color: var(--blue);
    transition: 0.3s ease-in-out;
}
.concert-info h3 {
    font-weight: semi-bold;
    font-size: 3.5vh;
}
.concert-info p {
    font-size: 2vh;
}


.most-featured-concert {
    grid-column: span 2;
    grid-row: span 2;
}
.featured-concerts-titles {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    margin: auto;
    padding-top: 14vh;
    padding-bottom: 5vh;
}
.featured-concerts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto;
    gap: 5vh;
    width: 100%;
    height: 70vw;
    margin: auto;
}

.recommended-concerts {
    padding-top: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 5vh;
    width: 100%;
    margin: auto;
}
.empty-concert {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3vh solid var(--blue);
    border-radius: 2vh;
    font-size: 2vh;
    font-weight: bold;
    color: var(--blue);
    height: 45vh;
}

.discover-concerts {
    padding-top: 7vh;
    padding-bottom: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;  
    gap: 5vh;
    width: 100%;
    height: auto;
    margin: auto;
}

/*
movil: 414 × 896 px 
tablet: 800 × 1280 px 
pc: 1920 × 1080 px 
*/
/*
@media (max-width: 800px) {
    .section-title {
        align-items: center; 
        text-align: center;
        width: 100%; 
    }
    .section-title h2 {
        font-size: 2.5vh; 
    }
 
    .featured-concerts {
        grid-template-columns: 1fr 1fr; 
        gap: 3vh; 
        height: auto; 
    }
    .featured-concerts-titles {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        padding-top: 8vh;
        padding-bottom: 3vh;
    }
    .most-featured-concert {
        grid-column: span 1;
        grid-row: span 1;
    }

    .concert-banner img {
        width: 100%; 
        height: auto; 
    }
    .concert-info h3 {
        font-size: 3vh; 
    }
    .concert-info p {
        font-size: 1.8vh;
    }

    .recommended-concerts {
        grid-template-columns: 1fr; 
        gap: 3vh; 
        padding-top: 5vh;
    }
    .discover-concerts {
        grid-template-columns: repeat(2, 1fr); 
        gap: 3vh;
        padding-top: 5vh;
        padding-bottom: 15vh; 
    }
}

@media screen and (max-width: 480px) {
    .logo {
        display: flex;
        align-items: center;
        height: 5vh; 
    }
    .logo img {
        width: 70px; 
        transition: transform 0.3s ease;
    }
    .logo img:hover {
        transform: scale(1.05);
    }
    
    .search-container {
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 4vh;
        box-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.2); 
        height: 6vh;
        width: 100%;
        transition: 0.3s;
        overflow: hidden;
    }
    .search-container:hover {
        box-shadow: 0.8vh 0.8vh 1vh rgba(0, 0, 0, 0.3);
    }
    .search-bar {
        width: 80%;
        border: none;
        outline: none;
        font-size: 2vh;
        padding: 1vh;
        border-radius: 4vh;
        background: transparent; 
    }
    .search-button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 1vh;
        padding-right: 2vh;
        display: flex;
        align-items: center;
    }
    .search-button img {
        width: 3vh; 
        height: 3vh;
    }

    .section-nav {
        order: 4;
        display: flex;
        gap: 1vw;
        width: 100%;
        justify-content: center;
    }
    .section-nav a {
        color: var(--blue);
        text-decoration: none;
        font-size: 2vh;
        padding: 1vh; 
        padding-top: 3vh;
        border-radius: 1vh; 
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .account-menu {
        order: 2;
        position: relative;
    }
}


@media screen and (min-width: 481px) and (max-width: 1024px) { 
    .section-title {
        align-items: center; 
        text-align: center;
        width: 100%; 
    }
    .section-title h2 {
        font-size: 2.5vh; 
    }
 
    .featured-concerts {
        grid-template-columns: 1fr 1fr; 
        gap: 3vh; 
        height: auto; 
    }
    .featured-concerts-titles {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        padding-top: 8vh;
        padding-bottom: 3vh;
    }
    .most-featured-concert {
        grid-column: span 1;
        grid-row: span 1;
    }

    .concert-banner img {
        width: 100%; 
        height: auto; 
    }
    .concert-info h3 {
        font-size: 3vh; 
    }
    .concert-info p {
        font-size: 1.8vh;
    }

    .recommended-concerts {
        grid-template-columns: 1fr; 
        gap: 3vh; 
        padding-top: 5vh;
    }
    .discover-concerts {
        grid-template-columns: repeat(2, 1fr); 
        gap: 3vh;
        padding-top: 5vh;
        padding-bottom: 15vh; 
    }
}


@media screen and (min-width: 1025px) { 
    .section-title {
        align-items: center; 
        text-align: center;
        width: 100%; 
    }
    .section-title h2 {
        font-size: 2.5vh; 
    }
 
    .featured-concerts {
        grid-template-columns: 1fr 1fr; 
        gap: 3vh; 
        height: auto; 
    }
    .featured-concerts-titles {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        padding-top: 8vh;
        padding-bottom: 3vh;
    }
    .most-featured-concert {
        grid-column: span 1;
        grid-row: span 1;
    }

    .concert-banner img {
        width: 100%; 
        height: auto; 
    }
    .concert-info h3 {
        font-size: 3vh; 
    }
    .concert-info p {
        font-size: 1.8vh;
    }

    .recommended-concerts {
        grid-template-columns: 1fr; 
        gap: 3vh; 
        padding-top: 5vh;
    }
    .discover-concerts {
        grid-template-columns: repeat(2, 1fr); 
        gap: 3vh;
        padding-top: 5vh;
        padding-bottom: 15vh; 
    }
}
*/


footer {
    background-color: var(--blue);
    color: var(--light);
    padding: 1vh 1vw;
    margin-left: -6%;
    margin-right: -6%;
}

footer h2 {
    font-size: 2.5vh;
    margin-bottom: 4vh;
    text-align: center;
}
.reviews-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 4vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.review-card {
    background-color: var(--light);
    color: var(--dark);
    border-radius: 1.5vh;
    padding: 2vh;
    max-width: 20vw;
    flex: 1 1 20vw;
    box-shadow: 0 0.3vh 1vh rgba(0, 0, 0, 0.1);
}
.review-card p {
    font-size: 1.8vh;
    line-height: 1.4;
    margin-bottom: 1.5vh;
}
.review-user {
    display: flex;
    align-items: center;
    gap: 1vw;
}
.review-user img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    object-fit: cover;
}
.review-user div h4 {
    margin: 0;
    font-size: 1.5vh;
    color: #2c3e50;
}
.review-user div p {
    margin: 0;
    font-size: 1.2vh;
    color: #777;
}
.footer-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
    flex-wrap: wrap;
}
.footer-column {
    text-align: center;
}
.footer-column h3 {
    margin-bottom: 1vh;
    font-size: 1.8vh;
    color: var(--light);
}
.footer-column a {
    color: var(--light);
    text-decoration: none;
    font-size: 1.5vh;
}
.footer-column a:hover {
    text-decoration: underline;
}
.footer-bottom {
    text-align: center;
    font-size: 1.2vh;
    margin-top: 2vh;
}

